@page
@model IOTManagementApp.Areas.Identity.Pages.Account.ChangePasswordModel


<h3>Change password</h3>
<form method="post">
    <div class="row form-group">
        <label asp-for="Input.Password">New Password</label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="Input.ConfirmPassword">Confirm password</label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="Input.FirstName">First name</label>
        <input asp-for="Input.FirstName" />
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="Input.LastName">Last name</label>
        <input asp-for="Input.LastName" />
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>

    <div class="row form-group">
        <button type="submit" class="btn btn-primary btn-lg">Apply <i class="fa fa-sign-in" aria-hidden="true"></i></button>
    </div>

</form>


